
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
 
  padding: 0;
  margin: 0;
  background-color:rgb(228, 222, 222);
}

.App {
  border:14px solid red;

  text-align: center;

}
.app-class{
  display: flex;
  border:14px solid red;

}



