.cart-sidenav {
  width: 420px;
  height: 95vh;
  padding: 0 30px;
  top: 100px;
  right: -100%;
  transition: all 0.3s;
  position: absolute;
  float: right;
}

.cart-sidenav.active {
  right: 0px;
  position: absolute;
  float: right;
  right: 118px;
  z-index: 10;
  height: fit-content;
}

.sidenav-options {
  height: 160px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  float: righ;
  right: 0px;
  top: 40px;
}
