.header-container {
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
}
@media screen and (max-width: 1300px) {
  .logo-bg {
    display: none;
  }
  .header-container {
    height: 0px;
  }
}
