
.cart-container{
  display: flex;
  flex-direction: column;
  width: 110%;
  height: auto;
  background-color: rgb(20, 20, 20);
  max-width: 600px;
  padding-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0px 10px;
  z-index:20;
  padding: 20px;
  }

  .cart-item, p{
  padding: 1px;
  background-color:rgb(228, 222, 222);
  width: 100%;
  }
.cart-final, .cart-final.h5{
  padding: 1px;
  background-color:rgb(30, 146, 65);
  width: 100%;
  }  
.cart-container h2,h3{
  text-align: center;
  position: relative;
  padding: 3px;
  font-family: 'Staatliches', cursive;
  background-color:rgb(228, 222, 222);
 }
  
.button1{
  background-color: #3e70aa; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

